new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"
ruler_mode 0
startup_commands toggle_horizontal_scroll_lock
should_launch_new_window 1
ui_font Cantarell
font_size 14
text_highlight_color 1.0 0.93 0.51
ui_background_color 0.141 0.141 0.141
ui_selected_background_color 0.2 0.2 0.2
ui_text_color 0.66 0.72 0.78
ui_selected_text_color 0.66 0.72 0.78
page_separator_width 5
